:root {
  background-color: rgba(161, 179, 177, 0.452);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  cursor: url("../images/penguin.png"), auto;
}

aside img:hover {
  cursor: url("../images/penguin2.png"), auto;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

header {
  position: relative;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 120px;
  border-bottom: 10px solid darkblue;
  background-image: url("../images/city.webp");
}

.Selfie {
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  flex-wrap: wrap;
  /* border: 1px solid green; */
  padding: 0 0px 1px 0;
  color: darkblue;
  background-color: darkblue;
  border-radius: 10px;
}

nav a {
  color: rgb(139, 180, 194);
}

nav a:visited {
  color: wheat;
}

nav div {
  padding: 0 10px;
}

main {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}

/* section div a {
  padding: 10px;
} */

h1,
h2,
h3 {
  text-align: center;
}

h1 {
  font-family: "Comic Sans MS";
  font-size: 40px;
  padding: 3px;
  font-weight: 700;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
  text-align: left;
}

img {
  display: block;
  size: 50px;
}

.title {
  height: 450px;
  width: 450px;
  width: 450px;
  height: 450px;
}

section {
  padding: 15 px;
}
.imageTitle {
  font-size: 18px;
  font-weight: bold;
}

.images {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 270px;
  min-width: 270px;
  max-width: 360px;
  max-height: 360px;

}

.paragraph {
  size: 80%;
  line-height: 140%;
  padding: 0 15px;
}

.projects {
  border: 2px solid rgb(0, 0, 0);
  /* width: 200px;
  height: 200px; */
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.projectsActive {
  border: 2px solid rgb(0, 0, 0);
  /* width: 200px;
  height: 200px; */
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.projectsActive:hover {
  border: 2px solid rgb(199, 0, 0);
  /* width: 200px;
  height: 200px; */
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: end;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
  transition: box-shadow 0.2s ease-in-out;
}

.titles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: aquamarine;
}

.presentation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: end;
  padding: 25px;
}

.pictures {
  display: flex;
  flex-wrap: wrap;
  
}

.contacting {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.footering {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  padding: 0 15px 0 0;
}

.outsource {
  font-style: italic;
  padding: 2px 0 2px 5px;
}

footer {
  padding: 1px 5px;
}

.rotate {
  animation: rotation 8s infinite linear, fadeIn 5s;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

.rotate:hover {
  animation-play-state: paused;
}

.rounded {
  border-radius: 50%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
